# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (only if NOT using bare workflow)
# android/
# ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
.env*.local

# typescript
*.tsbuildinfo

# firebase
firebaseKeys*